@model IEnumerable<Vidlyr.Models.Movie>

@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*
    This is a mulitline comment for razor or any syntax explanations goes here...
*@

<h2>@ViewBag.Title</h2>


@if (!Model.Any())
{
    <h1>We Don't Have Movies Yet..!</h1>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name,"Details","Movies",new {id = movie.Id},null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

